.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.col{
    flex:1;
    background-color: slategray;
    padding: 10px;
    margin-inline: 5px;
}
.col-2{
    flex:2;
    background-color: slategray;
    padding: 10px;
    margin-inline: 5px;
}
.col-3{
    flex:3;
    padding: 10px;
    margin-inline: 5px;
    background-color: slategray;
}