<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <label for="gold">Your Gold:</label>
    <input type="text" name="gold" value="{{ request.session.gold }}" disabled>

    <section>
        <div>
            <h3>Farm</h3>
            <p>(earns 10-20 gold)</p>
            <form action="process_money/Farm" method="post">
                {% csrf_token %}
                <input type="hidden" value="10" name="min">
                <input type="hidden" value="20" name="max">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <div>
            <h3>Cave</h3>
            <p>(earns 10-20 gold)</p>
            <form action="process_money/Cave" method="post">
                {% csrf_token %}
                <input type="hidden" value="10" name="min">
                <input type="hidden" value="20" name="max">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <div>
            <h3>House</h3>
            <p>(earns 10-20 gold)</p>
            <form action="process_money/House" method="post">
                {% csrf_token %}
                <input type="hidden" value="10" name="min">
                <input type="hidden" value="20" name="max">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <div>
            <h3>Quest</h3>
            <p>(earns/takes 0-50 gold)</p>
            <form action="process_money/Quest" method="post">
                {% csrf_token %}
                <input type="hidden" value="0" name="min">
                <input type="hidden" value="50" name="max">
                <input type="hidden" value="Quest" name="location">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
    </section>

    <label for="activities">Activities:</label>

    <div>
        {{ request.session.activites|safe }}
    </div>

</body>
</html>