<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leaderboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>{{ request.session.username }}</td>
                <td>{{ request.session.attempts }}</td>
            </tr>
        </table>

        <form action="play_again">
            {% csrf_token %}
            <input type="submit" value="Go back">
        </form>
    </div>
</body>
</html>