.top-div{
    width: fit-content;
    margin: 10px auto;
    border: 2px solid;
    padding: 5px;
}

.time-div{
    width: fit-content;
    margin: 10px auto;
    border: 2px solid;
    padding: 5px 5px 20px 5px;
    font-size: 40px;
}
